<div class="votebox">
 <section>
    <%=link_to 'Back',locations_path, class:"button" %>          
 </section>


<div class="info" id="textbox">
	<h2 class="exponame"><%= @expo.name %></h2>
	<p class="description"><%= @expo.description %></p>
</div>

<!--likes-->
 <div class="votescounter">
    <div class="large-12 columns">

         <h4 class= "likes">Likes:<span id="likeCounter">          
              <%= @expo.positive_counter %></span>
         <h4 class= "likes">Dislikes:<span id="dislikeCounter">          
              <%= @expo.negative_counter %></span>
        
         </h4>
         
         <div id= "likes" class="likeClick">
            <button id="likeButton" data-expoid="<%= @expo.id %>" type="button" class="btn btn-default btn-lg">
              Like 
            </button>
            <button id ="DislikeButton" data-expoid="<%= @expo.id %>" type="button" class="btn btn-default btn-lg">
              Dislike 
            </button>

         </div>
    </div>
</div>        
</div>