<div class="row">
  <div class="large-12 columns">
 
     <!--Navigation menu -->
      <nav class="top-bar">
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <a href="#">
                <%= @location.name %>
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"></li>
        </ul>
 
        <section class="top-bar-section">
          <ul class="right">
            <li><%=link_to 'HOME',home_path, class:"button" %></li>
          </ul>
        </section>
      </nav>
  
    </div>
  </div>
 <!--Navigation menu -->


 <!--slide image centered-->
  <div class="row">
    <div class="large-12 columns">
 
     
 
      <div class="hide-for-small">
        <div id="featured">
              <img src="/assets/interior.jpg" alt="slide image">
               
          </div>
        </div>
  <!--slide image centered-->

    <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="http://placehold.it/1000x600&text=For Small Screens"/>
      </div>
    </div>
   
 <!--separation-->
    </div>
  </div><br>
  <!--separation-->


  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
         <div class="large-4 columns"> 
          <h4>You decide</h4><hr/>
          <ul>
              <% @exposition.each do |expo| %>
                <li><%= link_to expo.name, location_expo_path(expo.location, expo) %> 
                <p>This exposition has <%= expo.positive_counter %> likes and
                  <%= expo.negative_counter %> dislikes</p>                  
                <% end %>           
              </ul>           
          </div>

<!--footer-->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p></p>
        </div>
      </div>
    </div>
  </footer>